body {
	color: #232323;
	background-color: #EEEBEB;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

header {
	height: 27.6vh;
	padding-top: 10.6vh;
	margin: auto;
	max-width: 35em;
}

@media only screen and (max-width: 600px) {
	header {
		text-align: center;
	}
}

i.fab, i.fas {
	color: inherit;
	opacity: 0.6;
	margin: auto 0.5em;
	font-size: 24px;
}

i.fas {
	font-size: 20px;
	opacity: 0.3;
}

i.fab:hover {
	opacity: 1;
}

main {
	padding: 0 1em;
	margin: auto;
	max-width: 35em;
}

article {
	margin-bottom: 7em;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

ul.boxes li {
	background-color: rgba(250, 255, 255, 0.33);
	padding: 1em;
	border-radius: 0.3em;
}

.clickable:hover {
	background-color: rgba(250, 255, 255, 0.66);
}

ul.boxes {
	padding-left: 0;
}

ul.boxes li {
	width: 90%;
	margin-bottom: 1em;
	position: relative;
	list-style-type: none;
}

ul.boxes li a span {
	position: absolute; 
	width: 90%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

ul.boxes li a:hover {
	text-decoration: none;
}
