:root {
  --background-color: white;
  --font-color: #232323;
  --anchors-color: rgb(0, 150, 189);
  --anchors-color-hovered: rgb(0, 112, 142);
  --box-border-color: rgb(140, 150, 160);
  --box-border-clickable-color: rgba(0, 150, 189, 0.5);
  --box-border-shadow: none;
  --box-border-shadow-hover: none;
  --material: transparent;
  --material-elevated: transparent;
  --accent-color: rgb(242, 216, 5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --font-color: white;
    --anchors-color: #CC97FD;
    --anchors-color-hovered: pink;
    --box-border-color: transparent;
    --box-border-clickable-color: transparent;
    --box-border-shadow: 0.8px 0.7px 0.1dpi black;
    --box-border-shadow-hover: 0.8px 0.7px 0.1dpi black;
    --material: rgba(255, 255, 255, 0.05);
    --material-elevated: rgba(255, 255, 255, 0.1);
    --accent-color: transparent;
  }

  body,
  h1,
  h2 {
    font-weight: 300;
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0;
}

header {
  height: 27.6vh;
  margin: auto;
  padding-top: 10.6vh;
  max-width: 37em;
  padding-left: 2.75em;
}

@media only screen and (max-width: 600px) {
  header {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
}

i.fab,
i.fas {
  margin: auto 0.5em;
  font-size: 24px;
}

i.fab {
  color: var(--anchors-color);
}

i.fas {
  font-size: 20px;
  opacity: 0.38;
}

i.fab:hover {
  color: var(--anchors-color-hovered);
}

main {
  margin: auto;
  max-width: 37em;
  margin-bottom: 10em;
}

article {
  margin: 3em 0.5em;
  padding: 1em;
  border-radius: 0.4em;
  background-color: var(--material);
  box-shadow: var(--box-border-shadow);
}

@media only screen and (min-width: 600px) {
  article {
    margin: 5em 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  article:last-of-type {
    margin-bottom: 0.5em;
  }

  main {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p:hover>a {
  color: var(--anchors-color);
}

a:hover {
  text-decoration: underline;
}

ul.boxes {
  padding-left: 0;
}

ul.boxes li {
  padding: 1em;
  width: 90%;
  margin-bottom: 1em;
  position: relative;
  list-style-type: none;
  border-radius: 0.2em;
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--box-border-color);
  background-color: var(--material);
  box-shadow: var(--box-border-shadow);
}

ul.boxes li.clickable {
  border-color: var(--box-border-clickable-color);
  background-color: var(--material);
  box-shadow: var(--box-border-shadow);
}

ul.boxes li.clickable:hover {
  border-color: var(--accent-color);
  background-color: var(--material-elevated);
  box-shadow: var(--box-border-shadow-hover);
}

ul.boxes li a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

ul.boxes li a:hover {
  text-decoration: none;
}